<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.project.entity.Course">
        <id column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="capacity" property="capacity"/>
        <result column="time" property="time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        course_id
        ,course_name,teacher_id,capacity,time
    </sql>

</mapper>
